openapi: 3.0.0
info:
  contact:
    name: Asana Support
    url: https://asana.com/support
  description: "This is the interface for interacting with the [Asana Platform](https://developers.asana.com).\
    \ Our API reference is generated from our [OpenAPI spec](https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml)."
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://asana.com/terms
  title: Asana
  version: "1.0"
  x-public-description: "This is the interface for interacting with the [Asana Platform](https://developers.asana.com).\
    \ Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml)."
  x-docs-schema-whitelist:
  - AsanaResource
  - AsanaNamedResource
  - AuditLogEvent
  - AttachmentResponse
  - AttachmentCompact
  - BatchResponse
  - CustomFieldSettingResponse
  - CustomFieldSettingCompact
  - CustomFieldResponse
  - CustomFieldCompact
  - EnumOption
  - EventResponse
  - ErrorResponse
  - GoalResponse
  - GoalCompact
  - GoalMembershipCompact
  - GoalMembershipBase
  - GoalMembershipResponse
  - GoalRelationshipResponse
  - GoalRelationshipCompact
  - JobResponse
  - JobCompact
  - OrganizationExportResponse
  - OrganizationExportCompact
  - PortfolioMembershipResponse
  - PortfolioMembershipCompact
  - PortfolioResponse
  - PortfolioCompact
  - ProjectBriefResponse
  - ProjectBriefCompact
  - ProjectMembershipCompactResponse
  - ProjectMembershipNormalResponse
  - ProjectMembershipCompact
  - ProjectResponse
  - ProjectCompact
  - ProjectStatusResponse
  - ProjectStatusCompact
  - ProjectTemplateCompact
  - ProjectTemplateResponse
  - RuleTriggerResponse
  - SectionResponse
  - SectionCompact
  - StatusUpdateResponse
  - StatusUpdateCompact
  - StoryResponse
  - StoryCompact
  - TagResponse
  - TagCompact
  - TaskResponse
  - TaskCompact
  - TaskCountResponse
  - TeamMembershipResponse
  - TeamMembershipCompact
  - TeamResponse
  - TeamCompact
  - TimePeriodResponse
  - TimePeriodCompact
  - UserTaskListResponse
  - UserTaskListCompact
  - UserResponse
  - UserCompact
  - WebhookFilter
  - WebhookResponse
  - WebhookCompact
  - WorkspaceMembershipResponse
  - WorkspaceMembershipCompact
  - WorkspaceResponse
  - WorkspaceCompact
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-uses-multipart-form-data: true
servers:
- description: Main endpoint.
  url: https://app.asana.com/api/1.0
security:
- personalAccessToken: []
- oauth2: []
tags:
- description: |-
    The task is the basic object around which many operations in Asana are centered. In the Asana application, multiple tasks populate the middle pane according to some view parameters, and the set of selected tasks determines the more detailed information presented in the details pane.

    Sections are unique in that they will be included in the `memberships` field of task objects returned in the API when the task is within a section. They can also be used to manipulate the ordering of a task within a project.

    [Queries](https://raw.githubusercontent.com) return a [compact representation of each task object](https://raw.githubusercontent.com). To retrieve *all* fields or *specific set* of the fields, use [field selectors](https://raw.githubusercontent.com) to manipulate what data is included in a response.
  name: Tasks
- description: |-
    A project represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. A project exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.

    Projects in organizations are shared with a single team. Currently, the team of a project cannot be changed via the API. Non-organization workspaces do not have teams and so you should not specify the team of project in a regular workspace.

    Followers of a project are a subset of the members of that project. Followers of a project will receive all updates including tasks created, added and removed from that project. Members of the project have access to and will receive status updates of the project. Adding followers to a project will add them as members if they are not already, removing followers from a project will not affect membership.

    **Note:** You can use certain project endpoints to operate on [user task lists](https://raw.githubusercontent.com) ([My Tasks](https://asana.com/guide/help/fundamentals/my-tasks)) by substituting the `{project_gid}` with the `{user_task_list_gid}`. For example, you can perform operations on the custom fields of a user task list by using the following projects endpoints: [Add a custom field to a project](https://raw.githubusercontent.com), [Remove a custom field from a project](https://raw.githubusercontent.com) and [Get a project's custom fields](https://raw.githubusercontent.com)
  name: Projects
- description: |-
    A portfolio gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [status update](https://raw.githubusercontent.com).
    Portfolios have some restrictions on size. Each portfolio has a max of 500 items and, like projects, a maximum of 20 custom fields.
  name: Portfolios
- description: A goal is an object in the goal-tracking system that helps your organization
    drive measurable results.
  name: Goals
- description: |-
    _Note: Custom fields are a premium feature. Integrations which work with custom fields need to handle an assortment of use cases for free and premium users in context of free and premium organizations. For a detailed examination of which data users will have access in different circumstances, review the section below on access control._

    In the Asana application, tasks, projects, and portfolios can hold user-specified [custom fields](https://asana.com/guide/help/premium/custom-fields) which provide extra information (e.g., a "priority" property with an associated value, or a number representing the time required to complete a task). This lets a user define the type of information that each item within a project or portfolio can contain in addition to the built-in fields that Asana provides.
    `display_value` is a read-only field that will always be a string. For apps that use custom fields, this is a great way to safely display/export the value of a custom field, regardless of its type. We suggest apps use this field in order to future-proof for changes to custom fields.

    #### Characteristics of custom fields

    * There is metadata that defines the custom field. This metadata can be shared across an entire workspace, or be specific to a project or portfolio.
    * Creating a custom field setting on a project or portfolio means each direct child will have the custom field. This is conceptually akin to adding columns in a database or a spreadsheet: every task (row) in the project (table) can contain information for that field, including "blank" values (i.e., `null` data). For portfolio custom fields, every project (row) in the portfolio (table) will contain information for the custom field.
    * Custom field settings only go one child deep. This means that a custom field setting on a portfolio will give each project the custom field, but not each task within those projects.
    * Tasks have custom field _values_ assigned to them.

    #### Types of custom fields

    Integrations using custom fields need to be aware of the six basic types that a custom field can adopt. These types are:

    * `text` - an arbitrary, relatively short string of text
    * `number` - a number with a defined level of precision
    * `enum` - a selection of a single option from a defined list of options (i.e., mutually exclusive selections)
    * `multi_enum` - a selection of one or more options from a defined list of options (i.e., mutually inclusive selections)
    * `date` - a reference date with an optional time value
    * `people` - a list of active contributors (i.e., where their relationship to the work is defined in the custom field title)

    #### Example use case

    Consider an organization that has defined a custom field for "Priority". This field is of `enum` type and can have user-defined values of `Low`, `Medium`, or `High`. This is the field metadata, and it is visible within, and shared across, the entire organization.

    A project is then created in the organization, called "Bugs", and the "Priority" custom field is associated with that project. This will allow all tasks within the "Bugs" project to have an associated "Priority".

    A new task is created within "Bugs". This task, then, has a field named "Priority" which can take on the custom field value of one of `[null]`, `Low`, `Medium`, and `High`.

    #### Custom fields in the API

    These custom fields are accessible via the API through a number of endpoints at the top level (e.g. `/custom_fields` and `/custom_field_settings`) and through requests on workspaces, portfolios, projects, and tasks resources. The API also provides a way to fetch both the metadata and data which define each particular custom field, so that a client application may render proper UI to display or edit the values.

    Text fields are currently limited to 1024 characters. On tasks, their custom field value will have a `text_value` property to represent this field.

    Number fields can have an arbitrary `precision` associated with them; for example, a precision of `2` would round its value to the second (hundredths) place (e.g., `1.2345` would round to `1.23`). On tasks, the custom field value will have a `number_value` property to represent this field.

    #### Enum fields

    Enum fields represent a selection from a list of options. On the metadata, they will contain all of the options in an array. Each option has 4 properties:

    * `gid` - the GID of this enum option. Note that this is the GID of the individual _option_. The custom field itself has a separate `gid`.
    * `name` - the name of the option (e.g., "Choice #1")
    * `enabled` - whether this field is enabled. Disabled fields are not available to choose from when disabled, and are visually hidden in the Asana application, but they remain in the metadata for custom field values which were set to the option before the option was disabled.
    * `color` - a color associated with this choice.

    On the task's custom field value, the enum will have an `enum_value` property which will be the same as one of the choices from the list defined in the custom field metadata.

    #### Querying an organization for its custom fields

    For custom fields shared across the workspace or organization, the workspace [can be queried](https://raw.githubusercontent.com) for its list of defined custom fields. Like other collection queries, the fields will be returned as a compact record; slightly different from most other compact records is the fact that the compact record for custom fields includes `type` as well as `gid` and `name`.

    #### Accessing custom field definitions

    The [custom fields](https://raw.githubusercontent.com) reference describes how the metadata which defines a custom field is accessed. A GET request with a `gid` can be issued on the `/custom_fields` endpoint to fetch the full definition of a single custom field given its `gid` from (for instance) listing all custom fields on a workspace, or getting the `gid` from a custom field settings object or a task.

    #### Associating custom fields with a project or portfolio

    A mapping between a custom field and a project or portfolio is handled with a [custom field settings](https://raw.githubusercontent.com) object. This object contains a reference for each of the custom fields and the project or portfolio, as well as additional information about the status of that particular custom field (e.g., `is_important`, which defines whether or not the custom field will appear in the list/grid on the Asana application).

    #### Accessing custom field values on tasks or projects

    The [tasks](https://raw.githubusercontent.com) reference has information on how custom fields look on tasks. custom fields will return as an array on the property `custom_fields`, and each entry will contain, side-by-side, the compact representation of the custom field metadata and a `{typename}_value` property that stores the value set for the custom field.

    Of particular note is that the top-level `gid` of each entry in the `custom_fields` array is the `gid` of the custom field metadata, as it is the compact representation of this metadata. This can be used to refer to the full metadata by making a request to the `/custom_fields/{custom_fields_id}` endpoint as described above.

    Custom fields can be set just as in the Asana-defined fields on a task via `POST` or `PUT` requests. You can see an example in the [update a task](https://raw.githubusercontent.com) endpoint.

    Custom fields on projects follow this same pattern.

    #### Warning: Program defensively with regards to custom field definitions

    Asana application users have the ability to change the definitions of custom field metadata. This means that as you write scripts or applications to work with them, it is possible for the definitions to change at any time, which may cause an application using them to break or malfunction if it makes assumptions about the metadata for a particular custom field. When using custom fields, it is a good idea to program *defensively*, meaning you your application should double-check that the custom field metadata are what it expects.

    Storing the state of the custom field metadata for too long if you dynamically create a model for it can cause your model to become out of sync with the model stored in Asana. For example, if you encounter an `enum` value on a task that does not match any option in your metadata model, your metadata model has become out of date with the custom field metadata.

    #### Enabled and disabled values

    When information that is contained in a custom field value loses a logical association with its metadata definition, the value becomes disabled. This can happen in a couple of simple ways, for example, if you remove the custom field metadata from a project, or move a task with a custom field to a different project which does not have the custom field metadata associated with it. The value remains on the task, and the custom field metadata can still be found and examined, but as the context in which the custom field makes sense is gone, the custom field cannot change its value; it can only be cleared.

    _Note: Tasks that are associated with multiple projects do not become disabled, so long as at least one of the projects is still associated with the custom field metadata. In other words, tasks with multiple projects will retain logically associated to the set of custom field metadata represented by all of their projects._

    Moving the task back under a project with that custom field applied to it or applying the custom field metadata to the current project will return the custom field value to an enabled state. In this scenario, the custom field will be re-enabled and editable again.

    In the Asana application, disabled fields are grayed out and not allowed to change, other than to be discarded. In the API, we return a property `enabled: false` to inform the external application that the value has been disabled.

    Note that the API enforces the same operations on disabled custom field values as hold in the Asana application: they may not have their values changed, since the lack of context for the values of a custom field in general doesn't provide enough information to know what new values should be. Setting the custom field value to `null` will clear and remove the custom field value from the task.

    #### Custom field access control

    Custom fields are a complex feature of the Asana platform, and their access in the Asana application and in the API vary based on the status of the user and project. When building your application, it is best to be defensive and not assume the given user will have read or write access to a custom field, and fail gracefully when this occurs.
  name: Custom fields
- description: |-
    A tag is a label that can be attached to any task in Asana. It exists in a single workspace or organization.

    Tags have some metadata associated with them, but it is possible that we will simplify them in the future so it is not encouraged to rely too heavily on it. Unlike projects, tags do not provide any ordering on the tasks they are associated with.
  name: Tags
- description: |-
    A section is a subdivision of a project that groups tasks together. It can either be a header above a list of tasks in a list view or a column in a board view of a project.

    Sections are largely a shared idiom in Asana’s API for both list and board views of a project regardless of the project’s layout.

    The ‘memberships’ property when [getting a task](https://raw.githubusercontent.com) will return the information for the section or the column under ‘section’ in the response.
  name: Sections
- description: A team is used to group related projects and people together within
    an organization. Each project in an organization is associated with a team.
  name: Teams
- description: "A goal relationship is an object representing the relationship between\
    \ a goal and another goal, a project, a task, or a portfolio."
  name: Goal relationships
- description: |-
    A project template is an object that allows new projects to be created
    with a predefined setup, which may include tasks, sections, rules, etc.
    It simplifies the process of running a workflow that involves a similar
    set of work every time.


    Project templates in organizations are shared with a single team. Currently, the
    team of a project template cannot be changed via the API.
  name: Project templates
- description: |-
    *See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924) for more info on when conditional fields are returned.*

    A story represents an activity associated with an object in the Asana system. Stories are generated by the system whenever users take actions such as creating or assigning tasks, or moving tasks between projects. "Comments" are also a form of user-generated story.
  name: Stories
- description: |-
    A user object represents an account in Asana that can be given access to various workspaces, projects, and tasks.

    Like other objects in the system, users are referred to by numerical IDs. However, the special string identifier `me` can be used anywhere a user ID is accepted, to refer to the current authenticated user (e.g, `GET /users/me`).
  name: Users
- description: |-
    Webhooks allow you to subscribe to notifications about events that occur on Asana resources (e.g., tasks, projects, stories, etc.).

    For a more detailed explanation of webhooks see the [overview of webhooks](https://raw.githubusercontent.com).
  name: Webhooks
- description: |-
    A *workspace* is the highest-level organizational unit in Asana. All projects and tasks have an associated workspace.

    An *organization* is a special kind of workspace that represents a company. In an organization, you can group your projects into teams. You can read more about how organizations work on the Asana Guide. To tell if your workspace is an organization or not, check its `is_organization` property.

    Over time, we intend to migrate most workspaces into organizations and to release more organization-specific functionality. We may eventually deprecate using workspace-based APIs for organizations. Currently, and until after some reasonable grace period following any further announcements, you can still reference organizations in any `workspace` parameter.
  name: Workspaces
- name: Time tracking entries
- description: "An *attachment* object represents any file attached to a task in Asana,\
    \ whether it’s an uploaded file or one associated via a third-party service such\
    \ as Dropbox or Google Drive."
  name: Attachments
- description: |-
    A project brief object represents a rich text document that describes a project.

    Please note that this API is in *preview*, and is expected to change. This API is to be used for development and testing only as an advance view into the upcoming rich text format experience in the task description. For more information, see [this post](https://forum.asana.com/t/project-brief-api-now-available-as-a-preview/150885) in the developer forum.
  name: Project briefs
- description: |-
    *Deprecated: new integrations should prefer using [status updates](https://raw.githubusercontent.com)*

    A project status is an update on the progress of a particular project,
    and is sent out to all project followers when created. These updates
    include both text describing the update and a color code intended to
    represent the overall state of the project: "green" for projects that
    are on track, "yellow" for projects at risk, "red" for projects that
    are behind, and "blue" for projects on hold.

    Project statuses can be created and deleted, but not modified.
  name: Project statuses
- description: |-
    A status update is an update on the progress of a particular object,
    and is sent out to all followers when created. These updates
    include both text describing the update and a `status_type` intended to
    represent the overall state of the project. These include: `on_track` for projects that
    are on track, `at_risk` for projects at risk, `off_track` for projects that
    are behind, and `on_hold` for projects on hold.

    Status updates can be created and deleted, but not modified.
  name: Status updates
- description: |-
    A task template is an object that allows new tasks to be created with a predefined setup, which may include followers, dependencies, custom fields, etc. It simplifies the process of running a workflow that involves a similar set of work every time.
    Task templates are contained within a single project.
  name: Task templates
- description: This object determines if a user is a member of a team.
  name: Team memberships
- name: Memberships
- description: This object determines if a user is a member of a portfolio.
  name: Portfolio memberships
- description: This object determines if a user is a member of a workspace.
  name: Workspace memberships
- description: "Custom fields are attached to a particular project with the custom\
    \ field settings resource. This resource both represents the many-to-many join\
    \ of the custom field and project as well as stores information that is relevant\
    \ to that particular pairing. For instance, the `is_important` property determines\
    \ some possible application-specific handling of that custom field."
  name: Custom field settings
- description: |-
    An `organization_export` object represents a request to export the complete data of an organization in JSON format.

    To export an organization using this API:

    * Create an `organization_export`
      [request](https://raw.githubusercontent.com)
      and store the ID that is returned.
    * Request the `organization_export` every few minutes, until the
      `state` field contains ‘finished’.
    * Download the file located at the URL in the `download_url` field. * Exports can take a long time, from several minutes to a few hours
      for large organizations.


    *Note: These endpoints are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts) of an [Enterprise](https://asana.com/enterprise) organization.*
  name: Organization exports
- description: "With the introduction of “comment-only” projects in Asana, a user’\
    s membership in a project comes with associated permissions. These permissions\
    \ (i.e., whether a user has full access to the project or comment-only access)\
    \ are accessible through the project memberships endpoints described here."
  name: Project memberships
- description: "A time period is an object that represents a domain-scoped date range\
    \ that can be set on [goals](https://raw.githubusercontent.com)."
  name: Time periods
- description: "A user task list represents the tasks assigned to a particular user.\
    \ This list is the user's [My Tasks](https://asana.com/guide/help/fundamentals/my-tasks)\
    \ list."
  name: User task lists
- description: |-
    Asana's audit log is an immutable log of [important events](/docs/audit-log-events#supported-audit-log-events) in your organization's Asana instance.

    The audit log API allows you to monitor and act upon important security and compliance-related changes. Organizations might use this API endpoint to:

    * Set up proactive alerting with a Security Information and Event Management (SIEM) tool like [Splunk](https://asana.com/guide/help/api/splunk)
    * Conduct reactive investigations when a security incident takes place
    * Visualize key domain data in aggregate to identify security trends

    Note that since the API provides insight into what is happening in an Asana instance, the data is [read-only](https://raw.githubusercontent.com). That is, there are no "write" or "update" endpoints for audit log events.

    Only [Service Accounts](https://asana.com/guide/help/premium/service-accounts) in [Enterprise Domains](https://asana.com/enterprise) can access audit log API endpoints. Authentication with a Service Account's [personal access token](https://raw.githubusercontent.com) is required.

    For a full list of supported events, see [supported AuditLogEvents](/docs/audit-log-events#supported-audit-log-events).
  name: Audit log API
- description: |-
    There are many cases where you want to accomplish a variety of work in the Asana API but want to minimize the number of HTTP requests you make. For example:

    * Modern browsers limit the number of requests that a single web page can
      make at once.
    * Mobile apps will use more battery life to keep the cellular radio on
      when making a series of requests.
    * There is an overhead cost to developing software that can make multiple
      requests in parallel.
    * Some cloud platforms handle parallelism poorly, or disallow it
      entirely.


    To make development easier in these use cases, Asana provides a **batch API** that enables developers to perform multiple “actions” by making only a single HTTP request.

    #### Making a batch request

    To make a batch request, send a `POST` request to `/batch`. Like other `POST` endpoints, the body should contain a `data` envelope. Inside this envelope should be a single `actions` field, containing a list of “action” objects.  Each action represents a standard request to an existing endpoint in the Asana API.

    **The maximum number of actions allowed in a single batch request is 10**. Making a batch request with no actions in it will result in a `400 Bad Request`.

    When the batch API receives the list of actions to execute, it will dispatch those actions to the already-implemented endpoints specified by the `relative_path` and `method` for each action. This happens in parallel, so all actions in the request will be processed simultaneously. There is no guarantee of the execution order for these actions, nor is there a way to use the output of one action as the input of another action (such as creating a task and then commenting on it).

    The response to the batch request will contain (within the `data` envelope) a list of result objects, one for each action. The results are guaranteed to be in the same order as the actions in the request (e.g., the first result in the response corresponds to the first action in the request)

    The batch API will always attempt to return a `200 Success` response with individual result objects for each individual action in the request. Only in certain cases (such as missing authorization or malformed JSON in the body) will the entire request fail with another status code. Even if every individual action in the request fails, the batch API will still return a `200 Success` response, and each result object in the response will contain the errors encountered with each action.

    #### Rate limiting

    The batch API fully respects all of our rate limiting. This means that a batch request counts against *both* the standard rate limiter and the concurrent request limiter as though you had made a separate HTTP request for every individual action. For example, a batch request with five actions counts as five separate requests in the standard rate limiter, and counts as five concurrent requests in the concurrent request limiter. The batch request itself incurs no cost.

    If any of the actions in a batch request would exceed any of the enforced limits, the *entire* request will fail with a `429 Too Many Requests` error. This is to prevent the unpredictability of which actions might succeed if not all of them could succeed.

    #### Restrictions

    Not every endpoint can be accessed through the batch API. Specifically, the following actions cannot be taken and will result in a `400 Bad Request` for that action:

    * Uploading attachments
    * Creating, getting, or deleting organization exports
    * Any SCIM operations
    * Nested calls to the batch API
  name: Batch API
- description: |-
    An event is an object representing a change to a resource that was observed by an event subscription. Event streams rely on the same infrastructure as webhooks, which ensures events are delivered within a minute (on average). This system is designed for at most once delivery, meaning in exceptional circumstances a small number of events may be missing from the stream. For this reason, if your use case requires strong guarantees about processing all changes on a resource and cannot tolerate any missing events, regardless of how rare that might be, we recommend building a fallback polling system that fetches the resource periodically as well. Note that while webhooks cannot be replayed once delivered, events are retrievable from the event stream for 24 hours after being processed.

    In general, requesting events on a resource is faster and subject to higher rate limits than requesting the resource itself. Additionally, change events "bubble up" (e.g., listening to events on a project would include when stories are added to tasks in the project, and even to subtasks).

    Establish an initial sync token by making a request with no sync token. The response will be a `412 Precondition Failed` error - the same as if the sync token had expired.

    Subsequent requests should always provide the sync token from the immediately preceding call.

    Sync tokens may not be valid if you attempt to go "backward" in the history by requesting previous tokens, though re-requesting the current sync token is generally safe, and will always return the same results.

    When you receive a `412 Precondition Failed` error, it means that the sync token is either invalid or expired. If you are attempting to keep a set of data in sync, this signals you may need to re-crawl the data.

    Sync tokens always expire after 24 hours, but may expire sooner, depending on load on the service.
  name: Events
- description: |-
    Jobs represent processes that handle asynchronous work. A job created when an endpoint requests an action that will be handled asynchronously, such as project or task duplication.

    Only the creator of the duplication process can access the duplication status of the new object.

    *Note*: With any work that is handled asynchronously (e.g., [project instantation from a template](https://raw.githubusercontent.com), duplicating a [task](https://raw.githubusercontent.com) or [project](https://raw.githubusercontent.com), etc.), the *intermittent states* of newly-created objects may not be consistent. That is, object properties may return different values each time when polled until the job `status` has returned a `succeeded` value.
  name: Jobs
- description: The typeahead search API provides search for objects from a single
    workspace.
  name: Typeahead
- name: Rules
paths:
  /attachments/{attachment_gid}:
    delete:
      description: |-
        Deletes a specific, existing attachment.

        Returns an empty data record.
      operationId: Attachments_deleteSpecific
      parameters:
      - description: Globally unique identifier for the attachment.
        example: "12345"
        explode: false
        in: path
        name: attachment_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: attachment
        x-konfig-original-example: "12345"
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentsDeleteSpecificResponse'
          description: Successfully deleted the specified attachment.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
          x-do-not-generate: true
      summary: Delete an attachment
      tags:
      - Attachments
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: |-
            import com.asana.Client;

            Client client = Client.accessToken("PERSONAL_ACCESS_TOKEN");

            JsonElement result = client.attachments.deleteAttachment(attachmentGid)
                .option("pretty", true)
                .execute();
        - language: node
          install: npm install asana
          code: |-
            const Asana = require('asana');

            let client = Asana.ApiClient.instance;
            let token = client.authentications['token'];
            token.accessToken = '<YOUR_ACCESS_TOKEN>';

            let attachmentsApiInstance = new Asana.AttachmentsApi();
            let attachment_gid = "12345"; // String | Globally unique identifier for the attachment.

            attachmentsApiInstance.deleteAttachment(attachment_gid).then((result) => {
                console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));
            }, (error) => {
                console.error(error.response.body);
            });
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.2
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.attachments.deleteAttachment(attachmentGid)
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            attachments_api_instance = asana.AttachmentsApi(api_client)
            attachment_gid = "12345" # str | Globally unique identifier for the attachment.


            try:
                # Delete an attachment
                api_response = attachments_api_instance.delete_attachment(attachment_gid)
                pprint(api_response)
            except ApiException as e:
                print("Exception when calling AttachmentsApi->delete_attachment: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.2
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.attachments.delete_attachment(attachment_gid, opt_pretty=True)
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: |-
            <?php
            require 'vendor/autoload.php';

            $client = Asana\Client::accessToken('PERSONAL_ACCESS_TOKEN');

            $result = $client->attachments->deleteAttachment($attachment_gid, array('opt_pretty' => 'true'))
        - language: ruby
          install: gem install asana
          code: |-
            require 'asana'

            client = Asana::Client.new do |c|
                c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'
            end

            result = client.attachments.delete_attachment(attachment_gid: 'attachment_gid', options: {pretty: true})
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--attachments-attachment_gid
      x-accepts: application/json
    get:
      description: Get the full record for a single attachment.
      operationId: Attachments_getAttachmentRecord
      parameters:
      - description: Globally unique identifier for the attachment.
        example: "12345"
        explode: false
        in: path
        name: attachment_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: attachment
        x-konfig-original-example: "12345"
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: "This endpoint returns a compact resource, which excludes some\
          \ properties by default. To include those optional properties, set this\
          \ query parameter to a comma-separated list of the properties you wish to\
          \ include."
        example:
        - connected_to_app
        - created_at
        - download_url
        - host
        - name
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - permanent_url
        - resource_subtype
        - size
        - view_url
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - connected_to_app
            - created_at
            - download_url
            - host
            - name
            - parent
            - parent.created_by
            - parent.name
            - parent.resource_subtype
            - permanent_url
            - resource_subtype
            - size
            - view_url
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - connected_to_app
        - created_at
        - download_url
        - host
        - name
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - permanent_url
        - resource_subtype
        - size
        - view_url
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentsGetAttachmentRecordResponse'
          description: Successfully retrieved the record for a single attachment.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
          x-do-not-generate: true
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "The request was valid, but the queried object or object mutation\
            \ specified in the request is above your current premium level."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
          x-do-not-generate: true
        "424":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "You have exceeded one of the enforced rate limits in the API.\
            \ See the [documentation on rate limiting](https://developers.asana.com/docs/#rate-limits)\
            \ for more information."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
          x-do-not-generate: true
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There is an issue between the load balancers and Asana's API.
          x-do-not-generate: true
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Either the upstream service is unavailable to the API, or\
            \ the API has been intentionally shut off."
          x-do-not-generate: true
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This request took too long to complete.
          x-do-not-generate: true
      summary: Get an attachment
      tags:
      - Attachments
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: |-
            import com.asana.Client;

            Client client = Client.accessToken("PERSONAL_ACCESS_TOKEN");

            Attachment result = client.attachments.getAttachment(attachmentGid)
                .option("pretty", true)
                .execute();
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet attachmentsApiInstance = new Asana.AttachmentsApi();\nlet attachment_gid\
            \ = \"12345\"; // String | Globally unique identifier for the attachment.\n\
            let opts = { \n    'opt_fields': \"connected_to_app,created_at,download_url,host,name,parent,parent.created_by,parent.name,parent.resource_subtype,permanent_url,resource_subtype,size,view_url\"\
            \n};\nattachmentsApiInstance.getAttachment(attachment_gid, opts).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.2
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.attachments.getAttachment(attachmentGid, {param: "value", param: "value", opt_pretty: true})
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            attachments_api_instance = asana.AttachmentsApi(api_client)
            attachment_gid = "12345" # str | Globally unique identifier for the attachment.
            opts = {
                'opt_fields': "connected_to_app,created_at,download_url,host,name,parent,parent.created_by,parent.name,parent.resource_subtype,permanent_url,resource_subtype,size,view_url", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
            }

            try:
                # Get an attachment
                api_response = attachments_api_instance.get_attachment(attachment_gid, opts)
                pprint(api_response)
            except ApiException as e:
                print("Exception when calling AttachmentsApi->get_attachment: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.2
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.attachments.get_attachment(attachment_gid, {'param': 'value', 'param': 'value'}, opt_pretty=True)
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: |-
            <?php
            require 'vendor/autoload.php';

            $client = Asana\Client::accessToken('PERSONAL_ACCESS_TOKEN');

            $result = $client->attachments->getAttachment($attachment_gid, array('param' => 'value', 'param' => 'value'), array('opt_pretty' => 'true'))
        - language: ruby
          install: gem install asana
          code: |-
            require 'asana'

            client = Asana::Client.new do |c|
                c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'
            end

            result = client.attachments.get_attachment(attachment_gid: 'attachment_gid', param: "value", param: "value", options: {pretty: true})
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attachments-attachment_gid
      x-accepts: application/json
  /attachments:
    get:
      description: |-
        Returns the compact records for all attachments on the object.

        There are three possible `parent` values for this request: `project`, `project_brief`, and `task`. For a project, an attachment refers to a file uploaded to the "Key resources" section in the project Overview. For a project brief, an attachment refers to inline files in the project brief itself. For a task, an attachment refers to a file directly associated to that task.

        Note that within the Asana app, inline images in the task description do not appear in the index of image thumbnails nor as stories in the task. However, requests made to `GET /attachments` for a task will return all of the images in the task, including inline images.
      operationId: Attachments_getAllForObject
      parameters:
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: |-
          Results per page.
          The number of objects to return per page. The value must be between 1 and 100.
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-konfig-original-example: 50
      - description: |-
          Offset token.
          An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.
          'Note: You can only pass in an offset that was returned to you via a previously paginated request.'
        example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      - description: "Globally unique identifier for object to fetch statuses from.\
          \ Must be a GID for a `project`, `project_brief`, or `task`."
        example: "159874"
        explode: true
        in: query
        name: parent
        required: true
        schema:
          type: string
        style: form
        x-konfig-original-example: "159874"
      - description: "This endpoint returns a compact resource, which excludes some\
          \ properties by default. To include those optional properties, set this\
          \ query parameter to a comma-separated list of the properties you wish to\
          \ include."
        example:
        - connected_to_app
        - created_at
        - download_url
        - host
        - name
        - offset
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - path
        - permanent_url
        - resource_subtype
        - size
        - uri
        - view_url
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - connected_to_app
            - created_at
            - download_url
            - host
            - name
            - offset
            - parent
            - parent.created_by
            - parent.name
            - parent.resource_subtype
            - path
            - permanent_url
            - resource_subtype
            - size
            - uri
            - view_url
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - connected_to_app
        - created_at
        - download_url
        - host
        - name
        - offset
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - path
        - permanent_url
        - resource_subtype
        - size
        - uri
        - view_url
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentsGetAllForObjectResponse'
          description: Successfully retrieved the specified object's attachments.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
          x-do-not-generate: true
      summary: Get attachments from an object
      tags:
      - Attachments
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: |-
            import com.asana.Client;

            Client client = Client.accessToken("PERSONAL_ACCESS_TOKEN");

            List<Attachment> result = client.attachments.getAttachmentsForObject(parent)
                .option("pretty", true)
                .execute();
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet attachmentsApiInstance = new Asana.AttachmentsApi();\nlet parent\
            \ = \"159874\"; // String | Globally unique identifier for object to fetch\
            \ statuses from. Must be a GID for a `project`, `project_brief`, or `task`.\n\
            let opts = { \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\"\
            , \n    'opt_fields': \"connected_to_app,created_at,download_url,host,name,offset,parent,parent.created_by,parent.name,parent.resource_subtype,path,permanent_url,resource_subtype,size,uri,view_url\"\
            \n};\nattachmentsApiInstance.getAttachmentsForObject(parent, opts).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.2
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.attachments.getAttachmentsForObject({param: "value", param: "value", opt_pretty: true})
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            attachments_api_instance = asana.AttachmentsApi(api_client)
            parent = "159874" # str | Globally unique identifier for object to fetch statuses from. Must be a GID for a `project`, `project_brief`, or `task`.
            opts = {
                'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.
                'offset': "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. 'Note: You can only pass in an offset that was returned to you via a previously paginated request.'
                'opt_fields': "connected_to_app,created_at,download_url,host,name,offset,parent,parent.created_by,parent.name,parent.resource_subtype,path,permanent_url,resource_subtype,size,uri,view_url", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
            }

            try:
                # Get attachments from an object
                api_response = attachments_api_instance.get_attachments_for_object(parent, opts)
                for data in api_response:
                    pprint(data)
            except ApiException as e:
                print("Exception when calling AttachmentsApi->get_attachments_for_object: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.2
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.attachments.get_attachments_for_object({'param': 'value', 'param': 'value'}, opt_pretty=True)
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: |-
            <?php
            require 'vendor/autoload.php';

            $client = Asana\Client::accessToken('PERSONAL_ACCESS_TOKEN');

            $result = $client->attachments->getAttachmentsForObject(array('param' => 'value', 'param' => 'value'), array('opt_pretty' => 'true'))
        - language: ruby
          install: gem install asana
          code: |-
            require 'asana'

            client = Asana::Client.new do |c|
                c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'
            end

            result = client.attachments.get_attachments_for_object(parent: '&#x27;parent_example&#x27;', param: "value", param: "value", options: {pretty: true})
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attachments
      x-accepts: application/json
    post:
      description: |-
        Upload an attachment.

        This method uploads an attachment on an object and returns the compact
        record for the created attachment object. This is possible by either:

        - Providing the URL of the external resource being attached, or
        - Downloading the file content first and then uploading it as any other attachment. Note that it is not possible to attach
        files from third party services such as Dropbox, Box, Vimeo & Google Drive via the API

        The 100MB size limit on attachments in Asana is enforced on this endpoint.

        This endpoint expects a multipart/form-data encoded request containing the full contents of the file to be uploaded.

        Requests made should follow the HTTP/1.1 specification that line
        terminators are of the form `CRLF` or `\r\n` outlined
        [here](http://www.w3.org/Protocols/HTTP/1.1/draft-ietf-http-v11-spec-01#Basic-Rules) in order for the server to reliably and properly handle the request.
      operationId: Attachments_uploadAttachment
      parameters:
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: "This endpoint returns a compact resource, which excludes some\
          \ properties by default. To include those optional properties, set this\
          \ query parameter to a comma-separated list of the properties you wish to\
          \ include."
        example:
        - connected_to_app
        - created_at
        - download_url
        - host
        - name
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - permanent_url
        - resource_subtype
        - size
        - view_url
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - connected_to_app
            - created_at
            - download_url
            - host
            - name
            - parent
            - parent.created_by
            - parent.name
            - parent.resource_subtype
            - permanent_url
            - resource_subtype
            - size
            - view_url
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - connected_to_app
        - created_at
        - download_url
        - host
        - name
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - permanent_url
        - resource_subtype
        - size
        - view_url
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AttachmentRequest'
        description: |-
          The file you want to upload.

          *Note when using curl:*

          Be sure to add an `‘@’` before the file path, and use the `--form`
          option instead of the `-d` option.

          When uploading PDFs with curl, force the content-type to be pdf by
          appending the content type to the file path: `--form
          "file=@file.pdf;type=application/pdf"`.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentsUploadAttachmentResponse'
          description: Successfully uploaded the attachment to the parent object.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
          x-do-not-generate: true
      summary: Upload an attachment
      tags:
      - Attachments
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: |-
            import com.asana.Client;

            Client client = Client.accessToken("PERSONAL_ACCESS_TOKEN");

            Attachment result = client.attachments.createAttachmentForObject(file, parent, url, name)
                .data("field", "value")
                .data("field", "value")
                .option("pretty", true)
                .execute();
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\nconst fs = require(\"fs\");\n\n\
            let client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\n\
            token.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet attachmentsApiInstance\
            \ = new Asana.AttachmentsApi();\nlet opts = { \n    'resource_subtype':\
            \ \"external\", \n    'file': fs.createReadStream(\"file_example\"), \n\
            \    'parent': \"parent_example\", \n    'url': \"url_example\", \n  \
            \  'name': \"name_example\", \n    'connect_to_app': true, \n    'opt_fields':\
            \ \"connected_to_app,created_at,download_url,host,name,parent,parent.created_by,parent.name,parent.resource_subtype,permanent_url,resource_subtype,size,view_url\"\
            \n};\nattachmentsApiInstance.createAttachmentForObject(opts).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import\
            \ pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token\
            \ = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\
            \n# create an instance of the API class\nattachments_api_instance = asana.AttachmentsApi(api_client)\n\
            opts = {\n    'resource_subtype': \"external\", # str | \n    'file':\
            \ \"file_example\", # str | \n    'parent': \"parent_example\", # str\
            \ | \n    'url': \"url_example\", # str | \n    'name': \"name_example\"\
            , # str | \n    'connect_to_app': True, # bool | \n    'opt_fields': \"\
            connected_to_app,created_at,download_url,host,name,parent,parent.created_by,parent.name,parent.resource_subtype,permanent_url,resource_subtype,size,view_url\"\
            , # list[str] | This endpoint returns a compact resource, which excludes\
            \ some properties by default. To include those optional properties, set\
            \ this query parameter to a comma-separated list of the properties you\
            \ wish to include.\n}\n\ntry:\n    # Upload an attachment\n    api_response\
            \ = attachments_api_instance.create_attachment_for_object(opts)\n    pprint(api_response)\n\
            except ApiException as e:\n    print(\"Exception when calling AttachmentsApi->create_attachment_for_object:\
            \ %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.2
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.attachments.create_attachment_for_object({'field': 'value', 'field': 'value'}, opt_pretty=True)
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: |-
            <?php
            require 'vendor/autoload.php';

            $client = Asana\Client::accessToken('PERSONAL_ACCESS_TOKEN');

            $result = $client->attachments->createAttachmentForObject(array('field' => 'value', 'field' => 'value'), array('opt_pretty' => 'true'))
        - language: ruby
          install: gem install asana
          code: |-
            require 'asana'

            client = Asana::Client.new do |c|
                c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'
            end

            result = client.attachments.create_attachment_for_object(field: "value", field: "value", options: {pretty: true})
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--attachments
      x-content-type: multipart/form-data
      x-accepts: application/json
  /workspaces/{workspace_gid}/audit_log_events:
    get:
      description: |-
        Retrieve the audit log events that have been captured in your domain.

        This endpoint will return a list of [AuditLogEvent](https://raw.githubusercontent.com) objects, sorted by creation time in ascending order. Note that the Audit Log API captures events from October 8th, 2021 and later. Queries for events before this date will not return results.

        There are a number of query parameters (below) that can be used to filter the set of [AuditLogEvent](https://raw.githubusercontent.com) objects that are returned in the response. Any combination of query parameters is valid. When no filters are provided, all of the events that have been captured in your domain will match.

        The list of events will always be [paginated](https://raw.githubusercontent.com). The default limit is 1000 events. The next set of events can be retrieved using the `offset` from the previous response. If there are no events that match the provided filters in your domain, the endpoint will return `null` for the `next_page` field. Querying again with the same filters may return new events if they were captured after the last request. Once a response includes a `next_page` with an `offset`, subsequent requests can be made with the latest `offset` to poll for new events that match the provided filters.

        *Note: If the filters you provided match events in your domain and `next_page` is present in the response, we will continue to send `next_page` on subsequent requests even when there are no more events that match the filters. This was put in place so that you can implement an audit log stream that will return future events that match these filters. If you are not interested in future events that match the filters you have defined, you can rely on checking empty `data` response for the end of current events that match your filters.*

        When no `offset` is provided, the response will begin with the oldest events that match the provided filters. It is important to note that [AuditLogEvent](https://raw.githubusercontent.com) objects will be permanently deleted from our systems after 90 days. If you wish to keep a permanent record of these events, we recommend using a SIEM tool to ingest and store these logs.
      operationId: AuditLogApi_getAuditLogEvents
      parameters:
      - description: Globally unique identifier for the workspace or organization.
        example: "12345"
        explode: false
        in: path
        name: workspace_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: workspace
        x-konfig-original-example: "12345"
      - description: Filter to events created after this time (inclusive).
        explode: true
        in: query
        name: start_at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter to events created before this time (exclusive).
        explode: true
        in: query
        name: end_at
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |-
          Filter to events of this type.
          Refer to the [supported audit log events](/docs/audit-log-events#supported-audit-log-events) for a full list of values.
        explode: true
        in: query
        name: event_type
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Filter to events with an actor of this type.
          This only needs to be included if querying for actor types without an ID. If `actor_gid` is included, this should be excluded.
        explode: true
        in: query
        name: actor_type
        required: false
        schema:
          enum:
          - user
          - asana
          - asana_support
          - anonymous
          - external_administrator
          type: string
        style: form
      - description: Filter to events triggered by the actor with this ID.
        explode: true
        in: query
        name: actor_gid
        required: false
        schema:
          type: string
        style: form
      - description: Filter to events with this resource ID.
        explode: true
        in: query
        name: resource_gid
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Results per page.
          The number of objects to return per page. The value must be between 1 and 100.
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-konfig-original-example: 50
      - description: |-
          Offset token.
          An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.
          'Note: You can only pass in an offset that was returned to you via a previously paginated request.'
        example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogApiGetAuditLogEventsResponse'
          description: AuditLogEvents were successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
          x-do-not-generate: true
      summary: Get audit log events
      tags:
      - Audit log API
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: |-
            import com.asana.Client;

            Client client = Client.accessToken("PERSONAL_ACCESS_TOKEN");

            List<JsonElement> result = client.auditlogapi.getAuditLogEvents(workspaceGid, resourceGid, actorGid, actorType, eventType, endAt, startAt)
                .option("pretty", true)
                .execute();
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet auditLogApiApiInstance = new Asana.AuditLogAPIApi();\nlet workspace_gid\
            \ = \"12345\"; // String | Globally unique identifier for the workspace\
            \ or organization.\nlet opts = { \n    'start_at': \"2013-10-20T19:20:30+01:00\"\
            , \n    'end_at': \"2013-10-20T19:20:30+01:00\", \n    'event_type': \"\
            event_type_example\", \n    'actor_type': \"actor_type_example\", \n \
            \   'actor_gid': \"actor_gid_example\", \n    'resource_gid': \"resource_gid_example\"\
            , \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\"\
            \n};\nauditLogApiApiInstance.getAuditLogEvents(workspace_gid, opts).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.2
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.auditlogapi.getAuditLogEvents(workspaceGid, {param: "value", param: "value", opt_pretty: true})
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            audit_log_api_api_instance = asana.AuditLogAPIApi(api_client)
            workspace_gid = "12345" # str | Globally unique identifier for the workspace or organization.
            opts = {
                'start_at': '2013-10-20T19:20:30+01:00', # datetime | Filter to events created after this time (inclusive).
                'end_at': '2013-10-20T19:20:30+01:00', # datetime | Filter to events created before this time (exclusive).
                'event_type': "event_type_example", # str | Filter to events of this type. Refer to the [supported audit log events](/docs/audit-log-events#supported-audit-log-events) for a full list of values.
                'actor_type': "actor_type_example", # str | Filter to events with an actor of this type. This only needs to be included if querying for actor types without an ID. If `actor_gid` is included, this should be excluded.
                'actor_gid': "actor_gid_example", # str | Filter to events triggered by the actor with this ID.
                'resource_gid': "resource_gid_example", # str | Filter to events with this resource ID.
                'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.
                'offset': "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. 'Note: You can only pass in an offset that was returned to you via a previously paginated request.'
            }

            try:
                # Get audit log events
                api_response = audit_log_api_api_instance.get_audit_log_events(workspace_gid, opts)
                for data in api_response:
                    pprint(data)
            except ApiException as e:
                print("Exception when calling AuditLogAPIApi->get_audit_log_events: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.2
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.audit_log_api.get_audit_log_events(workspace_gid, {'param': 'value', 'param': 'value'}, opt_pretty=True)
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: |-
            <?php
            require 'vendor/autoload.php';

            $client = Asana\Client::accessToken('PERSONAL_ACCESS_TOKEN');

            $result = $client->auditlogapi->getAuditLogEvents($workspace_gid, array('param' => 'value', 'param' => 'value'), array('opt_pretty' => 'true'))
        - language: ruby
          install: gem install asana
          code: |-
            require 'asana'

            client = Asana::Client.new do |c|
                c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'
            end

            result = client.audit_log_api.get_audit_log_events(workspace_gid: 'workspace_gid', param: "value", param: "value", options: {pretty: true})
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--workspaces-workspace_gid-audit_log_events
      x-accepts: application/json
  /batch:
    post:
      description: Make multiple requests in parallel to Asana's API.
      operationId: BatchApi_submitParallelRequests
      parameters:
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: "This endpoint returns a compact resource, which excludes some\
          \ properties by default. To include those optional properties, set this\
          \ query parameter to a comma-separated list of the properties you wish to\
          \ include."
        example:
        - body
        - headers
        - status_code
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - body
            - headers
            - status_code
            type: string
          type: array
        style: form
        x-konfig-original-example:
        - body
        - headers
        - status_code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchApiSubmitParallelRequestsRequest'
        description: The requests to batch together via the Batch API.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchApiSubmitParallelRequestsResponse'
          description: Successfully completed the requested batch API operations.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
          x-do-not-generate: true
      summary: Submit parallel requests
      tags:
      - Batch API
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: |-
            import com.asana.Client;

            Client client = Client.accessToken("PERSONAL_ACCESS_TOKEN");

            List<JsonElement> result = client.batchapi.createBatchRequest()
                .data("field", "value")
                .data("field", "value")
                .option("pretty", true)
                .execute();
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet batchApiApiInstance = new Asana.BatchAPIApi();\nlet body = {\"data\"\
            : {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object\
            \ | The requests to batch together via the Batch API.\nlet opts = { \n\
            \    'opt_fields': \"body,headers,status_code\"\n};\nbatchApiApiInstance.createBatchRequest(body,\
            \ opts).then((result) => {\n    console.log('API called successfully.\
            \ Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error)\
            \ => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.2
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.batchapi.createBatchRequest({field: "value", field: "value", pretty: true})
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            batch_api_api_instance = asana.BatchAPIApi(api_client)
            body = {"data": {"param1": "value1", "param2": "value2",}} # dict | The requests to batch together via the Batch API.
            opts = {
                'opt_fields': "body,headers,status_code", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
            }

            try:
                # Submit parallel requests
                api_response = batch_api_api_instance.create_batch_request(body, opts)
                for data in api_response:
                    pprint(data)
            except ApiException as e:
                print("Exception when calling BatchAPIApi->create_batch_request: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.2
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.batch_api.create_batch_request({'field': 'value', 'field': 'value'}, opt_pretty=True)
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: |-
            <?php
            require 'vendor/autoload.php';

            $client = Asana\Client::accessToken('PERSONAL_ACCESS_TOKEN');

            $result = $client->batchapi->createBatchRequest(array('field' => 'value', 'field' => 'value'), array('opt_pretty' => 'true'))
        - language: ruby
          install: gem install asana
          code: |-
            require 'asana'

            client = Asana::Client.new do |c|
                c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'
            end

            result = client.batch_api.create_batch_request(field: "value", field: "value", options: {pretty: true})
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--batch
      x-content-type: application/json
      x-accepts: application/json
  /projects/{project_gid}/custom_field_settings:
    get:
      description: "Returns a list of all of the custom fields settings on a project,\
        \ in compact form. Note that, as in all queries to collections which return\
        \ compact representation, `opt_fields` can be used to include more data than\
        \ is returned in the compact representation. See the [documentation for input/output\
        \ options](https://developers.asana.com/docs/inputoutput-options) for more\
        \ information."
      operationId: CustomFieldSettings_getProjectCustomFieldSettings
      parameters:
      - description: Globally unique identifier for the project.
        example: "1331"
        explode: false
        in: path
        name: project_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: project
        x-konfig-original-example: "1331"
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: |-
          Results per page.
          The number of objects to return per page. The value must be between 1 and 100.
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-konfig-original-example: 50
      - description: |-
          Offset token.
          An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.
          'Note: You can only pass in an offset that was returned to you via a previously paginated request.'
        example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      - description: "This endpoint returns a compact resource, which excludes some\
          \ properties by default. To include those optional properties, set this\
          \ query parameter to a comma-separated list of the properties you wish to\
          \ include."
        example:
        - custom_field
        - custom_field.asana_created_field
        - custom_field.created_by
        - custom_field.created_by.name
        - custom_field.currency_code
        - custom_field.custom_label
        - custom_field.custom_label_position
        - custom_field.date_value
        - custom_field.date_value.date
        - custom_field.date_value.date_time
        - custom_field.description
        - custom_field.display_value
        - custom_field.enabled
        - custom_field.enum_options
        - custom_field.enum_options.color
[...]
